<header class="navbar navbar-fixed-top navbar-default">
  <img src="/assets/calendula.jpg" class="logo-img" />
  <div class="container">
    <%= link_to 'Calendula', root_path, class:"btn btn-lg btn-success", id: 'logo' %>
  </div>
</header>
